/* body {
    background-color: #95c2de;
  } */
  
  .mainbox {
    /* background-color: #95c2de; */
    margin: auto;
    height: 200px;
    width: 400px;
    position: relative;
  }
  
    .err {
      color: #1E88E5;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 6%;
      top: 46%;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 33%;
    top: 15%;
  }
  
   .err2 {
      color: #1E88E5;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 72%;
      top: 46%;
    }
  
  .fa-question-circle {
    color: #1E88E5;
  }
  /* .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    } */
  
  /* a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
  } */